* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

:root {
    --main-color: rgb(123, 75, 7);
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    padding-top:20px
}
.container h1 {
    font-weight: bold;
    color: white;
    font-family: cursive;
    font-style: italic;
    text-shadow: 3px 7px 7px var(--main-color)
}
.cart {
    width: 80%;
    margin:20px  auto;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:white;
    border-radius:20px;
    padding:50px;
}
.cartItem
{
    padding:10px;
    margin-bottom:10px;
    text-align:center;
    align-items:center;
    align-content:center;
    justify-content:center
}
.cartItem img {
    width: 100%;
}
.quantity_option span
{
    font-weight:bold;
}
.quantity_option span:nth-child(1),
.quantity_option span:nth-child(3) {
    padding: 10px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}
.quantity_option span:nth-child(1):hover,
.quantity_option span:nth-child(3):hover
{
    background-color: black;
    color: lightgray;
}
.Total_price {
    font-weight: bold;
    color:white
}

