
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section myStyle
{
    <link href="/Content/about.css" rel="stylesheet" />
}
<!--------------------------------Banner------------------------------------------->
<div class="banner-about">
    <div class="over">
        <div class="container">
            <h1>About Us</h1>
        </div>
    </div>
</div>
<!--------------------------------End of Banner------------------------------------------->
<!-------------------------------Content------------------------------------------->

<div class="content">
    <div class="container-fluid">
        <div class="row details">
            <div class="disc col">
                <h3>Fashion Store</h3>
                <p>‘Fashion Store’ was brought into the world through a progression of spring up stores in 2014. We needed to offer enhanced shopping background, inventive motivation and to associate with those that share a similar vision with us. Today our objective continues as before..</p>
                <p>In 2015, we opened the ways to our leader store in Chicago, US. In this space we work crosswise over various mediums from fashion and photography to accommodation. There’s nothing we won’t do. Joint efforts are constantly invited and sustained.</p>
                <p>Summer 2016 saw the dispatch of ‘Fashion Store’ ‘s eponymous mark, which centers around quality, wearability and present day effortlessness. We cherish the sentiment of unisex garments, so we plan in light of the two sexual orientations. The mark exists outside of fashion seasons. We will continue adding to the line consistently, so keep your eyes stripped.</p>
            </div>

            <div class="show col">
                <img src="/imageForShow/pexels-edgars-kisuro-1488463.jpg" />
            </div>

        </div>
    </div>
</div>
<!------------------------------- end of Content------------------------------------------->
<!-------------------------------our clints------------------------------------------->
<div class="clints">
    <div class="container text-center">
        <div class="row numbers ">
            <div class="col">
                <h1></h1>
                <h6>HAPPY CUSTOMERS</h6>
            </div>
            <div class="col">
                <h1></h1>
                <h6>PRANCHES</h6>
            </div>
            <div class="col">
                <h1></h1>
                <h6>PARTNER</h6>
            </div>
            <div class="col">
                <h1></h1>
                <h6>AWARDS</h6>
            </div>
        </div>
    </div>
</div>

<!-------------------------------our clints------------------------------------------->
@section MyScripts{
    <script src="/Scripts/about.js"></script>
    }