
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPage</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/fontawesome/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/AdminCSS/AdminPage.css" rel="stylesheet" />
</head>
<body>


    <div class="admin">
        <h1 class="text-capitalize text-center"> Admin Page </h1>
        <div class="container">
            <div class="options row">
                <div class="col-md-4">
                    <a class="btn btn-dark" href="/Admin/Addproduct"> Add Product </a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-dark" > Update Product </a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-dark" > Delete Product </a>
                </div>
            </div>
        </div>
    </div>





    <script src="/Scripts/jquery-3.0.0.min.js"></script>
    <script src="/Scripts/umd/popper.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
